
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
    font-family: 'Zen Kurenaido', sans-serif;
    padding: 0;
    min-height: 680px;
    width: 100vw;
    height: 100vh;
    background: #ebd6c4;
    color: #D5212E;
    margin-bottom: 100px;
}

/* Game page */

.container {
    width:800px;
    max-width: 80%;
    margin: 0 auto;
}

#quiz-title {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
}

i {
    margin-left: 10px;
}

#num-of-q {
   font-size: 1.6rem;
}

#questions {
    font-size: 1.8rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

.choices button {
    width: 70%;
    height: 4rem;
    background: #D5212E;
    border-radius: 12px;
    border-color: #ca1320;
}

.btn:hover, #end:hover, #next:hover  {
    border-color: #460c10;
    
}

.choice-perfix, .choice {
    margin: 3px;
    font-size: 1rem;
    font-family: 'Zen Kurenaido', sans-serif;
    color: #ffd1a9;
}

.scores {
    font-size: 1.2rem;
}

.quiz-bottom-score{
    margin: 10px;
}

#next, #end {
    font-family: 'Zen Kurenaido', sans-serif;
    color: #ffd1a9;
    background: #D5212E;
    border-radius: 6px;
    border-color: #ca1320;
}

footer {
    height: 65px;
    width: 100%;
    background-color: #D5212E;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #ffd1a9;
}

#footer-text {
    font-size: 1rem;
    text-align: center;
}